* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --nav-color: rgba(27, 26, 26, 0.775);
    --nav-color-hover: rgba(27, 26, 26, 1);
}

body {
    padding-top: 70px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;

    background-color: var(--nav-color);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 2rem;
    z-index: 2000;
    transition: background-color 0.3s ease-in-out;
}

nav.navbar:hover {
    background-color: var(--nav-color-hover);
}

.nav-left {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-center img {
    height: 40px;
    border-radius: 0.5rem;
}

.nav-right {
    display: flex;
    gap: 1.5rem;
}

.nav-right a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.nav-left img{
    height: 40px;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
}
.nav-left a{
    color:white;
    text-decoration: none;
    display: flex ;
    justify-content: center;
    align-items: center;

}