body {
/*background: #FF0004;
background: linear-gradient(171deg,rgba(255, 0, 4, 1) 0%, rgba(36, 0, 0, 1) 50%, rgba(255, 0, 4, 1) 100%);
background-size: cover;
background-repeat: no-repeat;*/
background-color: black;
}