* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --szurke: #3d3c3c;
    --card-bg: #1b1a1a;
    --card-text-all: #b0a0ff;
    --nav-color: rgba(27, 26, 26, 0.775);
    --nav-color-hover: rgba(27, 26, 26, 1);
    /* ezek "lekérése" var(--szurke); */
}

body {
    background: #FF0004;
    /* background: linear-gradient(171deg,rgba(255, 0, 4, 1) 0%, rgba(36, 0, 0, 1) 50%, rgba(255, 0, 4, 1) 100%);*/
    background-size: cover;
    background-repeat: no-repeat;
    /* background-image: url(../img/istockphoto-805086280-612x612.png); */
    background-color: #3b414b;
    overflow-x: hidden;
    padding-top: 100px;
}

.centered-italic-text {
    text-align: center;
    margin-bottom: 2rem;
    font-style: italic;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;

    background-color: var(--nav-color);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 2rem;
    z-index: 2000;
    transition: background-color 0.3s ease-in-out;
    border-radius: 0 0 0.4rem 0.4rem;

}

.NO-navbar-radius {
    border-radius: 0 !important;
}

nav.navbar:hover {
    background-color: var(--nav-color-hover);
}

.nav-left {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-center img {
    height: 40px;
    border-radius: 0.5rem;
}

.nav-right {
    display: flex;
    gap: 1.5rem;
}

.nav-right a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.nav-left img {
    height: 40px;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
}
.nav-left a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.nav-right a {
    position: relative;
    color: white;
    text-decoration: none;
    transition: 0.3s ease;
    padding: 4px 0;
}

.nav-right a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background: #b0a0ff;
    transition: width 0.3s ease;
}

.nav-right a:hover::after {
    width: 100%;
}

.divider {
    width: 2px;
    height: 28px;
    background-color: rgba(61, 60, 60, 0.7);
    align-self: center;
    border-radius: 1px;
    margin: 0 2px; /* kis távolság a linkekhez */
}

@media (max-width: 768px) {
    .divider {
        display: none;
    }
}

#profile-a {
    font-weight: 600;
}

#profile-a::after {
    width: 100%;
}

#profile-a:hover {
    color: #b0a0ff;
    text-shadow: 0 0 8px rgba(176, 160, 255, 0.7);
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
    width: 30px;
    height: 22px;
    position: relative;
    z-index: 3000;
}

.hamburger span {
    position: absolute;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 2px;
    transition: 0.3s ease;
}

.hamburger span:nth-child(1) {
    top: 0;
}

.hamburger span:nth-child(2) {
    top: 9px;
}

.hamburger span:nth-child(3) {
    bottom: 0;
}

.hamburger.active span:nth-child(1) {
    top: 9px;
    transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    bottom: 10px;
    transform: rotate(-45deg);
}

@media (max-width: 768px) {

    .hamburger {
        display: flex;
    }

    .nav-right {
        position: absolute;
        top: 100px;
        right: 0;
        width: 100%;
        background-color: rgba(27, 26, 26, 0.95);

        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 2rem 0;

        transform: translateY(-120%);
        opacity: 0;
        transition: 0.4s ease;
    }

    .nav-right.active {
        transform: translateY(0);
        opacity: 1;
        border-radius: 0 0 0.4rem 0.4rem;
    }
}

/*  Talán egyszer

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    margin-bottom: 20rem;
}
*/

#kezdolap {
    min-height: 90vh;
    display: flex;
    align-items: center;

    background: linear-gradient(180deg,
            #434a55 0%,
            #3b414b 60%,
            #3b414b 100%);
}

#szovegresz {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 2rem;
    width: 26rem;
}

#kezdolap {
    margin-bottom: 10rem;
}

.projects-card,
.team-card {
    padding-top: 12px;
}


#csapat {
    position: relative;
    overflow: visible;
    border-top: 0.05rem solid #302f2f;
    background-color: #2a2f36;
}

#csapat::before {
    content: "";
    position: absolute;
    top: -150px;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom, rgba(59, 65, 75, 1) 0%, rgba(42, 47, 54, 1) 100%);
    z-index: -1;
}

#csapat::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(42, 47, 54, 0.6) 0%, rgba(42, 47, 54, 0.3) 100%);
    z-index: 0;
}

#csapat>* {
    position: relative;
    z-index: 1;
}



/*
#csapat::before {
    content: "";
    position: absolute;
    inset: 0;
    filter: blur(15px);
    z-index: 0;
    transform: scale(1.05);
    background-size: cover;
    background-position: center;
    background-image: url("../img/try1.jpg");
}

#csapat>* {
    position: relative;
    z-index: 1;
}
*/

.card {
    margin: 0 1rem;
    background-color: var(--card-bg);
    color: var(--card-text-all);
    border: 0.35rem solid #302f2f;
    border-radius: 1rem;

}

.card-rarity {
    height: 8.6rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem 0.5rem 0 0;


}

.card-name {
    margin: 0.2rem;
}

.card-rank-margin {
    margin: 0 0.5rem 1rem 0.4rem;
}

.card-img-top {
    max-height: 557px;
}

.card-rarity-upper-box {
    width: 55%;
    height: 68%;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: #f8f8ff
}

.card-legendary {
    background: #edc54c;
    background: linear-gradient(55deg, rgb(248, 238, 173) 20%, rgba(255, 220, 100, 1) 50%, rgba(255, 185, 40, 1) 80%, rgba(230, 150, 20, 1) 100%);


}

.card-hard {
    background: #c6b8fc;
    background: linear-gradient(55deg, rgba(198, 184, 252, 1) 24%, rgba(130, 69, 163, 1) 79%, rgba(109, 39, 156, 1) 100%);

}

.card-medium {
    background: #8FF7B0;
    background: linear-gradient(55deg, rgba(173, 216, 255, 1), rgba(135, 206, 250, 1), rgba(100, 149, 237, 1), rgba(138, 43, 226, 1));



    /*  background: #94fff3;
    background: linear-gradient(90deg, rgba(148, 255, 243, 1) 0%, rgba(194, 200, 255, 1) 70%, rgba(130, 99, 255, 1) 100%); */
}

.card-easy {
    background: #f3f5bc;
    background: linear-gradient(90deg, rgba(243, 245, 188, 1) 0%, rgba(191, 242, 165, 1) 48%, rgba(143, 247, 176, 1) 100%);
}

.card {
    transition: all 0.3s ease-in-out;
}

.card:hover {
    scale: 1.075;
}

footer {
    border-radius: 1rem 1rem 0 0;
}

.footer-bg {
    background-color: #2a2f36;
}


#csapat {
    padding-top: 8rem;
}

#projektek {
    padding-top: 8rem !important;
}