html, body {
    height: 100%;
    margin: 0;
}

.felirat {
    position: relative;
    height: 100vh;
    background: url("./img/try7.avif") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.4);
}

.nev {
    position: relative;
    color: white;
    z-index: 1;
}