* {
    --lila-szin: rgb(172, 73, 238);
    --lila-szin-v: rgb(196, 129, 240);
    --lila-szin-s: rgb(60, 15, 90);

    --zold-szin: rgb(108, 233, 59);
    --zold-szin-v: rgb(33, 88, 11);
    --zold-szin-s: rgb(160, 240, 129);

    --vilagos-kek-szin: rgb(24, 218, 224);
    --vilagos-kek-szin-v: rgb(134, 233, 236);
    --vilagos-kek-szin-s: rgb(18, 102, 105);

    --sotet-kek-szin: rgb(33, 72, 247);
    --sotet-kek-szin-v: rgb(113, 136, 241);
    --sotet-kek-szin-s: rgb(6, 16, 63);


    margin:0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
.row{
    font-size: 0;
}
[class^="col-"]{
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;

}

.col-1{ width: calc(100% / 12 * 1 - 20px); }
.col-2{ width: calc(100% / 12 * 2 - 20px); }
.col-3{ width: calc(100% / 12 * 3 - 20px); }
.col-4{ width: calc(100% / 12 * 4 - 20px); }
.col-5{ width: calc(100% / 12 * 5 - 20px); }
.col-6{ width: calc(100% / 12 * 6 - 20px); }
.col-7{ width: calc(100% / 12 * 7 - 20px); }
.col-8{ width: calc(100% / 12 * 8 - 20px); }
.col-9{ width: calc(100% / 12 * 9 - 20px); }
.col-10{ width: calc(100% / 12 * 10 - 20px); }
.col-11{ width: calc(100% / 12 * 11 - 20px); }
.col-12{ width: calc(100% / 12 * 12 - 20px); }

@media only screen and (min-width:600px){
    .col-sm-1{ width: calc(100% / 12 * 1 - 20px); }
    .col-sm-2{ width: calc(100% / 12 * 2 - 20px); }
    .col-sm-3{ width: calc(100% / 12 * 3 - 20px); }
    .col-sm-4{ width: calc(100% / 12 * 4 - 20px); }
    .col-sm-5{ width: calc(100% / 12 * 5 - 20px); }
    .col-sm-6{ width: calc(100% / 12 * 6 - 20px); }
    .col-sm-7{ width: calc(100% / 12 * 7 - 20px); }
    .col-sm-8{ width: calc(100% / 12 * 8 - 20px); }
    .col-sm-9{ width: calc(100% / 12 * 9 - 20px); }
    .col-sm-10{ width: calc(100% / 12 * 10 - 20px); }
    .col-sm-11{ width: calc(100% / 12 * 11 - 20px); }
    .col-sm-12{ width: calc(100% / 12 * 12 - 20px); }
}
@media only screen and (min-width:768px){
    .col-md-1{ width: calc(100% / 12 * 1 - 20px); }
    .col-md-2{ width: calc(100% / 12 * 2 - 20px); }
    .col-md-3{ width: calc(100% / 12 * 3 - 20px); }
    .col-md-4{ width: calc(100% / 12 * 4 - 20px); }
    .col-md-5{ width: calc(100% / 12 * 5 - 20px); }
    .col-md-6{ width: calc(100% / 12 * 6 - 20px); }
    .col-md-7{ width: calc(100% / 12 * 7 - 20px); }
    .col-md-8{ width: calc(100% / 12 * 8 - 20px); }
    .col-md-9{ width: calc(100% / 12 * 9 - 20px); }
    .col-md-10{ width: calc(100% / 12 * 10 - 20px); }
    .col-md-11{ width: calc(100% / 12 * 11 - 20px); }
    .col-md-12{ width: calc(100% / 12 * 12 - 20px); }
}

@media only screen and (min-width:992px){
    .col-lg-1{ width: calc(100% / 12 * 1 - 20px); }
    .col-lg-2{ width: calc(100% / 12 * 2 - 20px); }
    .col-lg-3{ width: calc(100% / 12 * 3 - 20px); }
    .col-lg-4{ width: calc(100% / 12 * 4 - 20px); }
    .col-lg-5{ width: calc(100% / 12 * 5 - 20px); }
    .col-lg-6{ width: calc(100% / 12 * 6 - 20px); }
    .col-lg-7{ width: calc(100% / 12 * 7 - 20px); }
    .col-lg-8{ width: calc(100% / 12 * 8 - 20px); }
    .col-lg-9{ width: calc(100% / 12 * 9 - 20px); }
    .col-lg-10{ width: calc(100% / 12 * 10 - 20px); }
    .col-lg-11{ width: calc(100% / 12 * 11 - 20px); }
    .col-lg-12{ width: calc(100% / 12 * 12 - 20px); }
}

@media only screen and (min-width:1200px){
    .col-xl-1{ width: calc(100% / 12 * 1 - 20px); }
    .col-xl-2{ width: calc(100% / 12 * 2 - 20px); }
    .col-xl-3{ width: calc(100% / 12 * 3 - 20px); }
    .col-xl-4{ width: calc(100% / 12 * 4 - 20px); }
    .col-xl-5{ width: calc(100% / 12 * 5 - 20px); }
    .col-xl-6{ width: calc(100% / 12 * 6 - 20px); }
    .col-xl-7{ width: calc(100% / 12 * 7 - 20px); }
    .col-xl-8{ width: calc(100% / 12 * 8 - 20px); }
    .col-xl-9{ width: calc(100% / 12 * 9 - 20px); }
    .col-xl-10{ width: calc(100% / 12 * 10 - 20px); }
    .col-xl-11{ width: calc(100% / 12 * 11 - 20px); }
    .col-xl-12{ width: calc(100% / 12 * 12 - 20px); }
}

@media only screen and (min-width:1400px){
    .col-xxl-1{ width: calc(100% / 12 * 1 - 20px); }
    .col-xxl-2{ width: calc(100% / 12 * 2 - 20px); }
    .col-xxl-3{ width: calc(100% / 12 * 3 - 20px); }
    .col-xxl-4{ width: calc(100% / 12 * 4 - 20px); }
    .col-xxl-5{ width: calc(100% / 12 * 5 - 20px); }
    .col-xxl-6{ width: calc(100% / 12 * 6 - 20px); }
    .col-xxl-7{ width: calc(100% / 12 * 7 - 20px); }
    .col-xxl-8{ width: calc(100% / 12 * 8 - 20px); }
    .col-xxl-9{ width: calc(100% / 12 * 9 - 20px); }
    .col-xxl-10{ width: calc(100% / 12 * 10 - 20px); }
    .col-xxl-11{ width: calc(100% / 12 * 11 - 20px); }
    .col-xxl-12{ width: calc(100% / 12 * 12 - 20px); }
}



.text-left, .text-start, .szoveg-balra {
    text-align: left;
}

.text-center, .text-middle, .szoveg-kozep {
    text-align: center;
}

.text-right, .text-right, .szoveg-jobbra {
    text-align: right;
}





.margin-1rem {
    margin: 1rem;
}

.margin-2rem {
    margin: 2rem;
}

.margin-3rem {
    margin: 3rem;
}

.margin-4rem {
    margin: 4rem;
}

.margin-5rem {
    margin: 5rem;
}


.margin-start-1rem, .margin-left-1rem {
    margin-left: 1rem;
}

.margin-start-2rem, .margin-left-2rem {
    margin-left: 2rem;
}

.margin-start-3rem, .margin-left-3rem {
    margin-left: 3rem;
}

.margin-start-4rem, .margin-left-4rem {
    margin-left: 4rem;
}

.margin-start-5rem, .margin-left-5rem {
    margin-left: 5rem;
}


.margin-end-1rem, .margin-right-1rem {
    margin-right: 1rem;
}

.margin-end-2rem, .margin-right-2rem {
    margin-right: 2rem;
}

.margin-end-3rem, .margin-right-3rem {
    margin-right: 3rem;
}

.margin-end-4rem, .margin-right-4rem {
    margin-right: 4rem;
}

.margin-end-5rem, .margin-right-5rem {
    margin-right: 5rem;
}


.margin-top-1rem {
    margin-top: 1rem;
}

.margin-top-2rem {
    margin-top: 2rem;
}

.margin-top-3rem {
    margin-top: 3rem;
}

.margin-top-4rem {
    margin-top: 4rem;
}

.margin-top-5rem {
    margin-top: 5rem;
}


.margin-bottom-1rem {
    margin-bottom: 1rem;
}

.margin-bottom-2rem {
    margin-bottom: 2rem;
}

.margin-bottom-3rem {
    margin-bottom: 3rem;
}

.margin-bottom-4rem {
    margin-bottom: 4rem;
}

.margin-bottom-5rem {
    margin-bottom: 5rem;
}





.padding-1rem {
    margin: 1rem;
}

.padding-2rem {
    margin: 2rem;
}

.padding-3rem {
    margin: 3rem;
}

.padding-4rem {
    margin: 4rem;
}

.padding-5rem {
    margin: 5rem;
}


.padding-start-1rem, .padding-left-1rem {
    padding-left: 1rem;
}

.padding-start-2rem, .padding-left-2rem {
    padding-left: 2rem;
}

.padding-start-3rem, .padding-left-3rem {
    padding-left: 3rem;
}

.padding-start-4rem, .padding-left-4rem {
    padding-left: 4rem;
}

.padding-start-5rem, .padding-left-5rem {
    padding-left: 5rem;
}


.padding-end-1rem, .padding-right-1rem {
    padding-right: 1rem;
}

.padding-end-2rem, .padding-right-2rem {
    padding-right: 2rem;
}

.padding-end-3rem, .padding-right-3rem {
    padding-right: 3rem;
}

.padding-end-4rem, .padding-right-4rem {
    padding-right: 4rem;
}

.padding-end-5rem, .padding-right-5rem {
    padding-right: 5rem;
}


.padding-top-1rem {
    padding-top: 1rem;
}

.padding-top-2rem {
    padding-top: 2rem;
}

.padding-top-3rem {
    padding-top: 3rem;
}

.padding-top-4rem {
    padding-top: 4rem;
}

.padding-top-5rem {
    padding-top: 5rem;
}


.padding-bottom-1rem {
    padding-bottom: 1rem;
}

.padding-bottom-2rem {
    padding-bottom: 2rem;
}

.padding-bottom-3rem {
    padding-bottom: 3rem;
}

.padding-bottom-4rem {
    padding-bottom: 4rem;
}

.padding-bottom-5rem {
    padding-bottom: 5rem;
}