body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

p::first-letter {
    margin-left: 20px;
}

header{
    background-image: url("./img/header.jpg");
    background-repeat: no-repeat;
    height: 250px;
    background-position: center;
    background-size: cover;
    width: 100%;
}

h1,h2 {
    color: #B16400;
}

img {
    width: 15em;
    min-width: 300px;
}

li {
    list-style: url("./img/jel.png");
}